language: java
addons:
  apt:
    packages:
    - oracle-java8-installer
jdk:
- oraclejdk8
notifications:
  slack:
    secure: Lu24CYnmlLforCHwPZLRDnPcG0Gby+xR9AVBmcxeQWNvKbyCWoyYv7t/8bjZRvQNV/YTUyKntMIw0BV2eNQ+BlIVgvDeLYRb/Hk/d8d8e9p6PMaZkOBwnKYeJxM4K1P+meU/XPCFShsJFwx3+GAnS1x2fQaWdHTMFFfN0VPsOJs=
deploy:
  provider: releases
  api_key:
    secure: NgoQ/d68FZt9M8tcbyeY+f4WB0mTIqHVdY94cxYngbAWo1vcDXAg/lbgLgayo+iVC4Z8WgSzoxvZrkaazwX7QwOMVLMPC6aIgHcOU5sA2Ag6an+0HLcW63PF4pM84Kqdhp7diES1pMZzyKVDFNYsFfbI8LJ9FAo0c95J//IZjEc=
  file_glob: true
  file: build/libs/*
  skip_cleanup: true
  on:
    all_branches: true
    tags: true
    repo: xebialabs-community/xlr-flowdock-plugin
